@font-face {
    font-family: 'aaarghnormal';
    src: url('../font/aaargh_normal_macroman/Aaargh-webfont.eot');
    src: url('../font/aaargh_normal_macroman/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/aaargh_normal_macroman/Aaargh-webfont.woff2') format('woff2'),
    url('../font/aaargh_normal_macroman/Aaargh-webfont.woff') format('woff'),
    url('../font/aaargh_normal_macroman/Aaargh-webfont.ttf') format('truetype'),
    url('../font/aaargh_normal_macroman/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chathurabold';
    src: url('../font/chathura_bold_macroman/chachathura-bold-webfont.eot');
    src: url('../font/chathura_bold_macroman/chathura-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/chathura_bold_macroman/chathura-bold-webfont.woff2') format('woff2'),
    url('../font/chathura_bold_macroman/chathura-bold-webfont.woff') format('woff'),
    url('../font/chathura_bold_macroman/chathura-bold-webfont.ttf') format('truetype'),
    url('../font/chathura_bold_macroman/chathura-bold-webfont.svg#chathurabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar-default{
    background-color: transparent;
    border-color: transparent;
}
header{
    background-color: #4ec0c0;
}

.navbar-brand,.navbar-brand:hover{
    background-color:white !important;
    height: 157px;
    width: 184px;
    border-radius: 0 0 10px 10px;
    padding: 34px 43px 19px 39px ;
}

#navbar a{
    color: white;
    font-family: "Arial Regular";
    font-size: 23.29px;
    padding-top: 41px;
    padding-left: 102px;
}


@media (max-width: 600px){
    .navbar-brand,.navbar-brand:hover{
        background-color:white !important;
        height: 100px;
        width: 120px;
        border-radius: 0 0 10px 10px;
        padding: 17px 30px 10px 30px ;
    }
}

.rectangle{
    background-color: #868894;
    height:209px;
    margin-top: -70px;
}

.about{
    background-color: #ffffff;
    margin-top: -158px;
}

.title{
    color:#e46141;
    font-family: "chathurabold";
    font-size: 69.47px;
    text-align: center;
}


.para{
    font-size: 16px;
    font-family: "aaarghnormal";
    text-align: center;
}
.services{
    display: flex;
    justify-content: space-around;
}
.service{
    height:116px;
    width: 121.6px;
    background-color: #5b5c62;
    border-radius: 10px;
}

.contact{
    height:116px;
    width: 121.6px;
    background-color: #ff9f00;
    border-radius: 10px;
}

.customers{
    height:116px;
    width: 121.6px;
    background-color: #5b5c62;
    border-radius: 10px;
}
